In [4]:
#datatypes
s=17
u=1.7
r=17j
a="suraj"
j=['cat','dog']
i=('cat','dog')
d={'cat','dog'}
h={'food':'eat'}
e=12
g=13
x= e>g
l=range(100,10,2)
print(s)
print(type(s))
print(u)
print(type(u))
print(r)
print(type(r))
print(a)
print(type(a))
print(j)
print(type(j))
print(i)
print(type(i))
print(d)
print(type(d))
print(h)
print(type(h))
print(x)
print(type(x))
print(l)
print(type(l))

17
<class 'int'>
1.7
<class 'float'>
17j
<class 'complex'>
suraj
<class 'str'>
['cat', 'dog']
<class 'list'>
('cat', 'dog')
<class 'tuple'>
{'cat', 'dog'}
<class 'set'>
{'food': 'eat'}
<class 'dict'>
False
<class 'bool'>
range(100, 10, 2)
<class 'range'>