In [ ]:
tab=int(input('Enter a number: '))
for i in range(1,11):
  print(i*tab)

Enter a number: 23
23
46
69
92
115
138
161
184
207
230

In [ ]:
for i in range(12,1):
  print(i)

In [ ]:
i=5
for x in range (1,6):
     print(x*i)

5
10
15
20
25

In [ ]:
fact=int(input("enter a number:"))
factorial = 1
for i in range(1,fact+1):
  factorial = factorial*i
  print(factorial)

enter a number:6
1
2
6
24
120
720

In [ ]:
a="wow"
c=reversed(a)
if list(a)==list(c):
  print("palindrome")
else: print('no')

palindrome

In [ ]:
a = "wow"
b = "wow"
print()

True

In [ ]:
a={'suraj':'godambe','pratham':'sarphale','hrishi':'shelar'}
for i,j in a.items():
  print(i,j)

suraj godambe
pratham sarphale
hrishi shelar