In [ ]:
#operators
#arithmatic
#addition
a=17
b=18
print(a+b)

35

In [ ]:
#substraction
a=18
b=17
print(a-b)

1

In [ ]:
#multiplication
a=17
b=18
print(a*b)

306

In [ ]:
#division
a=18
b=6
print(a/b)

3.0

In [ ]:
#floor division
a=4.8
b=9
print(b//a)

1.0

In [ ]:
#modulus
a=30
b=7
print(a%b)

2

In [ ]:
#exponent
a=4
print(a**2)

16

In [ ]:
#relational
#(>),(<),(==),(!=),(>=),(<=)
a=18
b=17
print(a>b)
print(a<b)
print(a>17)
print(b>18)
print(a==b)
print(a==18)
print(b==17)
print(a!=b)
print(a!=18)
print(b!=17)
print(a>=b)
print(a>=18)
print(a<=b)
print(b<=17)

True
False
True
False
False
True
True
True
False
False
True
True
False
True

In [4]:
#assignment
#(=),(+=),(-=),(*=),(/=),(//=),(%=),(**=)
a=5
b=3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a//=b
print(a)
a%=b
print(a)
a**=b
print(a)

8
5
15
5.0
1.0
1.0
1.0

In [5]:
#logical
#and,or,not
sbg=17
print(sbg>20 and sbg<20)
print(sbg<18 or sbg>18)
print(not(sbg>22))

False
True
True

In [8]:
#membership
#in,not in
sbg=(17,18,19)
print(18 in sbg)
print(18 not in sbg)

True
False

In [9]:
#identity
#is,is not
s=17
b=18
g=17
print(s is b)
print(b is g)
print(s is g)
print(s is not b)
print(b is not g)
print(s is not g)

False
False
True
True
True
False

In [11]:
#bitwise
#&,|,^
s=17
b=18
g=19
print(s & b)
print(b & g)
print(s & g)
print(s | b)
print(b | g)
print(s | g)
print(s ^ b)
print(b ^ g)
print(s ^ g)

16
18
17
19
19
19
3
1
2