In [1]:
#add items
a=(1,2,3,4,5)
b=list(a)
b.append(6)
c=tuple(b)
print(c)

(1, 2, 3, 4, 5, 6)

In [3]:
#changing elements from list in tuple
a=(1,2,[3,4],5)
a[2][0]=333
print(a)

(1, 2, [333, 4], 5)

In [4]:
#deleting a tuple
a=(1,2,[3,4],5)
del a
print(a)

NameError: ignored

In [5]:
#removing an element from tuple
a=(1,2,3,4,5)
b=list(a)
b.remove(5)
c=tuple(b)
print(c)

(1, 2, 3, 4)

In [6]:
#count 
a=(11,22,33,44,55,11,77,66,11,99,88)
a.count(11)

3

In [8]:
#sum function
a=(1,2,3,4)
b=(5,6,7,8)
c=sum((a,b),())
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
#max and min
a=(11,22,33,44,55)
print(max(a))
print(min(a))

55
11